@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.time__location{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.time__location p{
    margin-left: 7px;
    margin-right: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 13px;
}
option{
    display: flex;
    align-items: center;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}

.asap{
    display: none;
}
.time{
    width: 65px;
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
}
.time option{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;  
}

.location__logo{
    position: absolute;
    padding-left: 12px;
    padding-top: 12px;
}
.location__inf{
    outline: none;
    padding-left: 30px;
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1D1D1D;
}
.autorization{
    width: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.autorization__signin{
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    text-decoration: none;
    padding: 7px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #1D1D1D;
}
.autorization__signin:hover{
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    transition: 400ms;
}
.autorization__register{
    border: 1px solid #262626;
    border-radius: 2px;
    text-decoration: none;
    padding: 7px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    background: #262626;
    margin-left: 25px;
}
.autorization__packet{
    margin-left: 50px;
}
.body__search{
    display: flex;
    align-items: center;
    width: 78%;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 15px;
}
.body__search input{
    border: none;
    outline: none;
    width: 100%;
    padding-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #626262;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-bottom: 1px solid #757575;
    opacity: 0.3;
    padding-bottom: 15px;
}
.body__search input:focus{
    border-bottom: 1px solid #262626;
    transition: 400ms;
    opacity: 0.7;
}
.search__icon{
    position: absolute;
    padding-bottom: 14px;
}
.body_content{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.body_content h1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 86%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
    margin-bottom: 15px;
}
.content{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 40px;
}
.content__part{
    display: flex;
    flex-direction: column;
    width: 32%;
    text-decoration: none;
    margin: 20px 10px 10px 0px;
    cursor: pointer;
}

.content__part img{
    display: flex;
    height: 256px;
    object-fit: cover;

}
.content__information{
    padding-top: 20px;
}
.content__information p{
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.part__name{
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}
.part__price{
    font-size: 14px;
    line-height: 21px;
    color: #626262;
}
.part__time{
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
}
footer{
    display: flex;
    width: 100%;
    background: #262626;;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
    margin-left: 150px;
}
.footer__logo img{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 20%;
    height: 20px;
}
.footer__content{
    display:flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
    margin-top: 30px;
    border-bottom: 1px solid #FFFFFF;
}
.content__links{
    display: flex;
    width: 30%;
    flex-direction: column;
}
.select__language{
    display: flex;
    flex-direction: row;
}
.world{
    position: absolute;
    padding-top: 11px;
    padding-left: 10px;
}
.arrow{
    position: absolute;
    padding-top: 16px;
    padding-left: 230px;
}
.language{
    width: 80%;
    height: 40px;
    background: #3B3B3B;
    border-radius: 2px;
    padding-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    outline: none;
    text-transform: uppercase;
    border: none;
}
.language option{
    background-color: #3B3B3B;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    outline: none;
    text-transform: uppercase;
}
.heshtag{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 25px;
}
.heshtag span{
    color: #49A144;
}
.social{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    /* margin-top: 15px; */
}
.social__links{
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 8px;
    color: #FFFFFF;
}
.social__links:hover{
    color: blue;
}
.fa-instagram{
    margin-left: 8px;
}

.content__about{
    display: flex;
    width: 30%;
    flex-direction: column;
}
.content__about ul{
    list-style-type: none;
}
.content__about  li{
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.7;
    cursor: pointer;
}
.content__about  li:hover{
    opacity: 1.0;
    transition: 600ms;
}
.content__help{
    display: flex;
    width: 30%;
    flex-direction: column;
}
.content__help ul{
    list-style-type: none;
}
.content__help  li{
     padding-top: 20px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.7;
    cursor: pointer;
}
.content__help  li:hover{
    opacity: 1.0;
    transition: 600ms;
}
.footer__links{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
    margin-left: 150px;
}
.footer__links a{
    margin-left: 40px;
}
.footer__links img{
    width: 118.9px;
    height: 38.25px;
}
.footer__end{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer__end p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer__button{
    width: 90%;
}
.button--up{
    position: fixed;
	bottom: 20px;
	right: 20px;
    opacity: 1;
    cursor: pointer;
}